{% extends "base.twig" %}

{% block title %}{{ member.rank.abbr }} {{ member.name }}{% endblock title %}

{% block content %}
    {% if canEdit %}
        <a class="button is-link" href="/unit/{{ unit.slug() }}/roster/{{ member.idMember|snowflake }}/edit">Edit</a>
        <a class="button is-link" href="/unit/{{ unit.slug() }}/roster/{{ member.idMember|snowflake }}/medals/add">Add award</a>
    {% endif %}
    <div class="box is-pulled-right content">
        <p><strong>Played By:</strong> {{ member.playerName }}</p>
        <p><strong>Assigned Role:</strong> {{ member.role }}</p>
        <p><strong>Date Joined:</strong> {{ member.dateJoined.toDateString() }}</p>
        <p><strong>Last Promotion:</strong> {{ member.dateLastPromotion.toDateString() }}</p>
        <p><strong>Last page update:</strong> {{ member.dateUpdated.toDateString() }}</p>
    </div>


    {% if member.medals|length > 0 %}
        <h2 class="title">Medals</h2>
        <div class="is-flex is-flex-wrap-wrap is-justify-content-center is-align-content-flex-start" style="max-width: 488px">
            {% for medalinfo in member.getMedalRenderData() %}
                {{ include('medalRibbonInline.twig', {medal: medalinfo.medal, golds: medalinfo.gold, silvers: medalinfo.silver, total: medalinfo.total}) }}
            {% endfor %}
        </div>
    {% endif %}


    <h2 class="title">Remarks</h2>
    <div class="content">
        {{ member.remarksMD()|raw }}
    </div>

    {% if canEdit %}
        <h2 class="title">Editor-only remarks</h2>
        <div class="content">
            {{ member.remarksInternalMD()|raw }}
        </div>
    {% endif %}


    <h2 class="title">Attendance</h2>
    (todo)
{% endblock %}