<tr>
    <td colspan="7" style="padding-left: {{ x.depth()+0.5 }}em;background-color:{{ x.color }};color:{{ x.getColorPair() }}">
        {{ x.name }}
    </td>
</tr>
{% if x.members|length > 0 %}
    <tr>
        <th style="padding-left: {{ x.depth()+0.5 }}em;">Role</th>
        <th>Rank</th>
        <th>Name</th>
        <th>Endorsements</th>
        <th>Date Joined</th>
        <th>Player</th>
        <th>Service ID</th>
    </tr>
{% endif %}
{% for member in x.membersSorted() %}
    <tr>
        <td style="padding-left: {{ x.depth()+0.5 }}em;">{{ member.role }}</td>
        <td class="is-narrow nowrap">{{ include('rankIconInline.twig', {rank: member.rank}) }}</td>
        <td>{{ member.name }}</td>
        <td>
            {% for me in member.endorsements %}
                <span class="tag is-info" title="{{ me.endorsement.name }}">{{ me.endorsement.abbr }}</span>
            {% endfor %}
        </td>
        <td title="Last promotion: {{ member.dateLastPromotion.toDateString() }}">{{ member.dateJoined.toDateString() }}</td>
        <td>{{ member.playerName }}</td>
        <td><span class="is-size-7 is-family-monospace">{{ member.getServiceID() }}</span></td>
    </tr>
{% endfor %}

{% for group in x.childs %}
    {% include "unit.overview.group.twig" with {x: group} %}
{% endfor %}