{% extends "base.twig" %}

{% block title %}{{ unit.name }}{% endblock title %}

{% block content %}
    <div class="tabs is-fullwidth">
        <ul>
            <li><a href="/unit/{{ unit.idUnit|snowflake }}">Overview</a></li>
            <li><a href="/unit/{{ unit.idUnit|snowflake }}/roster">Roster</a></li>
            <li class="is-active"><a href="/unit/{{ unit.idUnit|snowflake }}/operations">Operations</a></li>
            {% if canEdit %}
                <li><a href="/unit/{{ unit.idUnit|snowflake }}/config">Configuration</a></li>
            {% endif %}
        </ul>
    </div>

    todo
{% endblock %}