{% extends "unit.overview.twig" %}

{% block title %}{{ unit.name }} - Roster{% endblock title %}

{% block unitContent %}
    {% if canEdit %}
        <a class="button is-link" href="/unit/{{ unit.slug() }}/roster/add">Add a member</a>
    {% endif %}

    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th class="is-narrow">Rank</th>
            <th>Name</th>
            <th>Role</th>
            <th>Joined</th>
            <th>Player</th>
            <th class="is-narrow">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for member in unit.membersSorted() %}
            <tr>
                <td class="is-narrow nowrap">{{ include('rankIconInline.twig', {rank: member.rank}) }}</td>
                <td>
                    {{ member.name }}
                    {% for me in member.endorsements %}
                        <span class="tag is-info">{{ me.endorsement.abbr }}</span>
                    {% endfor %}
                    <br/><span class="is-size-7 is-family-monospace">{{ member.getServiceID() }}</span>
                </td>
                <td>{{ member.role }}</td>
                <td>{{ member.dateJoined.toDateString() }}</td>
                <td>{{ member.playerName }}</td>
                <td class="is-narrow nowrap">
                    <form method="post">
                        <input type="hidden" name="csrf" value="{{ csrf }}"/>
                        <input type="hidden" name="idMember" value="{{ member.idMember }}"/>
                        <a class="button is-info" href="/unit/{{ unit.slug() }}/roster/{{ member.idMember|snowflake }}">Info</a>
                        {% if canEdit %}
                            <input type="submit" class="button is-danger" name="delete" value="Delete"/>
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}