{% extends "unit.config.twig" %}

{% block configContent %}
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>Weight</th>
            <th>Abbreviation</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- foreach -->
        {% for end in unit.endorsements %}
            <form method="post">
                <input type="hidden" name="csrf" value="{{ csrf }}"/>
                <input type="hidden" name="idEndorsement" value="{{ end.idEndorsement }}"/>
                <tr>
                    <td><input class="input" type="number" min="-32768" max="32767" name="weight" required="required" value="{{ end.weight }}"/></td>
                    <td><input class="input" type="text" maxlength="16" name="abbr" required="required" value="{{ end.abbr }}"/></td>
                    <td><input class="input" type="text" maxlength="64" name="name" required="required" value="{{ end.name }}"/></td>
                    <td><input class="button is-link" type="submit" name="endorsement_edit" value="Edit"/><input class="button is-danger" type="submit" name="endorsement_delete" value="Delete"/></td>
                </tr>
            </form>
        {% endfor %}
        <form method="post">
            <input type="hidden" name="csrf" value="{{ csrf }}"/>
            <tr>
                <td><input class="input" type="number" min="-32768" max="32767" name="weight" required="required"/></td>
                <td><input class="input" type="text" maxlength="16" name="abbr" required="required"/></td>
                <td><input class="input" type="text" maxlength="64" name="name" required="required"/></td>
                <td><input class="button is-link" type="submit" name="endorsement_new" value="Create new endorsement"/></td>
            </tr>
        </form>
        </tbody>
    </table>
{% endblock %}
